

.stats-card {
    padding: 10px;
    transition: all 0.3s ease;
    background-color: #f8f9fa;  
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 1px solid #e0e0e0;
    /*background-color: #e6e7e6;*/
}

.icon-stats {
    color: #0e6856;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



